<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Follower Graph</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
</head>
<body>
    <form method ="post">
        <button id="update" type="submit" >Update Chart</button>
    </form>
    <canvas id="lineChart"></canvas>
    <script>
        var ctx = document.getElementById("lineChart").getContext("2d");
        const COLORS = [
            '#4dc9f6',
            '#f67019',
            '#f53794',
            '#537bc4',
            '#acc236',
            '#166a8f',
            '#00a950',
            '#58595b',
            '#8549ba'
            ];

        var lineChart = new Chart(ctx, {
            type:"line",
            data: {
                labels: {{ dates | safe }},
                datasets: [
                {% for user in users %}
                    {
                        label: "{{ user["name"] | safe }}",
                        data: {{ user["counts"] | safe }},
                        fill: false,
                        borderColor: COLORS[Math.floor(Math.random() * COLORS.length)],
                        lineTension: 0.1,
                        {% if user["name"] != 'farnazfassihi' %}
                            hidden: true
                        {% endif %}
                    },
                {% endfor %}
                ]
            },

            options: {
                plugins: {

                    legend: {
                
                        onHover: function(evt, item, legend) {
                            legend.chart.data.datasets[0].backgroundColor.forEach((color, index, colors) => {
                                colors[index] = index === item.index || color.length === 9 ? color : color + '4D';
                            });
                            legend.chart.update();
                            },
                        onLeave: function(evt, item, legend) {
                            legend.chart.data.datasets[0].backgroundColor.forEach((color, index, colors) => {
                                colors[index] = color.length === 9 ? color.slice(0, -2) : color;
                            });
                            legend.chart.update();
                            }
                    } 
                }
              }
            
            
          });
          
    </script>
</body>
</html>